body {
    background-color: #e6e3e3; /* Alteração da cor de fundo */
    color: #000000; /* Alteração da cor do texto */
    font-family: 'karla', sans-serif;
}

nav {
    background-color: #292929; /* Alteração da cor do navbar */
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 1rem;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 15px; /* Ajuste do padding para reduzir a altura dos links */
    text-transform: capitalize;
}

.navbar-nav .nav-link:hover {
    color: #00BFFF !important;
}

.dropdown-menu {
    background-color: #292929;
}

.dropdown-menu .dropdown-item {
    color: #ffffff !important;
    font-weight: bold;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #00BFFF;
}

.modal-content {
    background-color: #292929;
    color: #ffffff;
}

.modal-header {
    border-bottom: 1px solid #ffffff;
}

.modal-title {
    color: #ffffff;
    font-weight: bold;
}

.modal-footer .btn-secondary {
    background-color: #00BFFF;
    border-color: #00BFFF;
}

.modal-footer .btn-secondary:hover {
    background-color: #005656;
    border-color: #005656;
}

.modal-footer .btn-primary {
    background-color: #ff4500;
    border-color: #ff4500;
}

.modal-footer .btn-primary:hover {
    background-color: #cc3700;
    border-color: #f1f0ef;
}

th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    background-color: #f3f0f0;
}

.navbar {
    min-height: 50px; /* Reduzindo a altura da barra de navegação */
}
